{% extends "drivers/base.html" %}

{% block header %}
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">       
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary"></a></li>
      </ul>

      <div class="col-md-3">
          <a role="button" class="btn btn-primary" href="{% url 'zber:drivers:index' %}">Back</a>
      </div>
{% endblock %}

{% block content %}
      
{% if result_rides %}
  
{% for ride in result_rides %}
<br>
  <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">{{ride.ride_owner.user.username}}({{ride.sum_passengers}} passengers)</h6>
        <p class="mb-0 opacity-75">{{ ride.dest_addr }}</p>
      </div>
      <small class="opacity-50 text-nowrap">{{ride.arrival_time}}</small>
    </div>
    <form action="{% url 'zber:drivers:ride_confirm' ride.ride_owner.order_no %}" method='POST'>
      {% csrf_token %}
    <input  role="button" class="btn btn-outline-primary" value='Confirm' type='submit'></form>
  </a>
  {% endfor %}

      
{% else %}
<p>There is no available ride for you</p>

      
{% endif %}
      
{% endblock %}
